.cart-img {
    width: 150px;
    height: auto;
}
.table td, .table th {
    border: 0.5px solid #dee2e6 !important;
}
td.table-list {
    text-align: center;
    padding-top: 70px;
    font-size: 13px;
    font-weight: 600;
}
span.cart-item-name {
    font-size: 15px;
    color: #3cb878;
    font-weight: 700;
}
th {
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
button.btn.float-right {
    border: 1px solid #3cb878;
    margin-left: 10px;
    text-transform: uppercase;
}
.row.cart-form {
    margin-top: 100px;
}
h5.cart-form-title {
    font-size: 20px;
    color: #3cb878;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 25px;
}
h6.apply-coupon {
    font-size: 15px;
    color: #777;
}
a.apply-button {
    color: #fff !important;
    font-weight: 700;
    padding: 0px 20px;
    text-decoration: none !important;
}
.cart-box {
    margin-top: 51px;
    border: .5px solid #7777;
    padding: 31.5px;
}
button.btn.btn-style-cart {
    border: 1px solid #3cb878;
    text-transform: uppercase;
    color: #333;
}